[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-oauth-toolkit = "*"
celery = "==5.3.6"
python-dotenv = "==1.0"
django = "==5"
graphene-django = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.11"
